{% extends "index.html" %}
{% block content %}

<form action="/insert" method="POST">
    <div class="content-section center">
              <h3>Meeting Details</h3>
              <p class='text-muted'>Fill out your tentative meeting dates and your panelist requirements.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"> 

                        <form action="" method='POST' name="myform">
                            <b class="bl-color">Meeting Date:&nbsp;&nbsp;&nbsp;</b>
                            <label for="startdate">Start Date:</label>
                            <input type="date" id="startdate" name="startdate">
                            &nbsp;&nbsp;&nbsp;<label for="enddate">End Date:</label>
                            <input type="date" id="enddate" name="enddate">
                        </form>
                  </li>
                  <li class="list-group-item list-group-item-light">
                    <label for="skills" class="font-weight-bold bl-color">Select the desired skills of the panelists:</label>
                    &nbsp;
                      <select name="skills" id="skills" class="selectpicker" multiple data-mdb-placeholder="Select skills" multiple>
                        <option values="DevOps">DevOps</option>
                        <option values="Security">Security</option>
                        <option values="CIA">CIA (Cloud Infrastructure Architect)</option>
                        <option values="AppDev">AppDev</option>
                        <option values="Database">Database</option>
                      </select>
                  </li>

                  <li class="list-group-item list-group-item-light">
                      <label for="no_of_panelists" class="font-weight-bold bl-color">Number of Panelists needed:</label>
                      &nbsp;
                      <select name="no_of_panelists" id="no_of_panelists">
                          <option values="3">3</option>
                          <option values="4">4</option>
                          <option values="5">5</option>
                      </select>
                  </li>
                </ul>
              </p>

            <div class="text-center">
                    <input id="displayText" class="btn btn-outline-dark px-2" type="submit" name="submit" value="Submit" class="btn btn-success">
                    <br>
            </div>
            <br>
          </div>
    <main role="main" class="container">
        <div class="row">
          <div style="width: 100%;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          {% block insert %}{% endblock %}
          </div>                
        </div>
    </main>

</form>

{% endblock content%}

